/* MOBILE RESPONSIVE1 */





.buttons{
margin-top:30px;
display:flex;
justify-content:center;
gap: 10px;
flex-wrap:nowrap;
}
.circle{
width:110px;
height:110px;
}

.contact{
grid-column:span 2;
}

@media (max-width:900px){

/* NAVBAR */

.nav{
flex-direction:column;
gap:20px;
padding:20px;
text-align:center;
}

nav{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:10px;
}

nav a{
margin:0;
font-size:14px;
}

nav a:not(:last-child)::after{
content:"";
}

/* HERO SECTION */

.hero{
flex-direction:column;
text-align:center;
gap:30px;
padding:20px;
}

/* PROFILE IMAGE */

.profile-img{
width:220px;
height:220px;
}

/* TEXT */

.content h2{
font-size:42px;
}

.content h3{
font-size:18px;
}

.content p{
max-width:100%;
padding:0 10px;
font-size:15px;
}

/* BUTTONS */

.buttons{
justify-content:center;
gap:15px;
}

.circle{
width:90px;
height:90px;
font-size:14px;
}



/* Footer */

footer{
padding:10px 20px;
text-align:center;

margin-top:1px;
}

footer hr{
margin:1px 0;
}

.footer-container{
display:flex;
flex-direction:column;
gap:15px;
align-items:center;
}

.footer-section{
text-align:center;
}

.footer-section h4{
margin-bottom:5px;
font-size:16px;
}

.footer-section p{
font-size:14px;
color:#555;
}

.footer-social{
display:flex;
justify-content:center;
gap:15px;
margin-top:10px;
}

.social img[src*="instagram"]{
width:36px;
height:36px;
}

.social img[src*="facebook"]{
width:32px;
height:32px;
}

.social img[src*="linkedin"]{
width:34px;
height:34px;
}




}

