
<hr>

<footer class="footer">

<div>
<h4>Phone</h4>
<p><a href="tel:+919894565903">+91 98945-65903</a></p>
</div>

<div>
<h4>Email</h4>
<p>
<a href="mailto:suryamuralidhar.offi@gmail.com">
suryamuralidhar.offi@gmail.com
</a>
</p>
</div>

<div>
<h4>Follow Me</h4>

<div class="social">
<a href="https://instagram.com/suryamurali_als_"><img src="icons/instagram.png"></a>
<a href="https://www.facebook.com/suryamurali.als/"><img src="icons/facebook.png"></a>
<a href="https://www.linkedin.com/in/suryamuralidhar"><img src="icons/linkedin.png"></a>
</div>

</div>

</footer>